
.insertimages1{
    -fx-background-image: url("/res/one.png");
}

.insertimages2{
    -fx-background-image: url("/res/two.png");
}

.insertimages3{
    -fx-background-image: url("/res/three.png");
}

.insertimages4{
    -fx-background-image: url("/res/four.png");
}

.insertimages5{
     -fx-background-image: url("/res/five.png");
 }
.lightgreen{
    -fx-background-color:  #45ff9f;
}
.lightgreen:hover{
    -fx-background-color: #35ef8f;
    -fx-font-weight: Bold;
}



